<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core">
<body>
	<div
		style='width: 505px; font-size: 24px; line-height: 48px; background-color: Lavender; color: Black; font-family: "Book Antiqua", "Times New Roman", Serif; text-align: center'>Formular
		Stocuri</div>
	<h:form id="formContractForm" style="width: 471px; ">
		<h:panelGrid id="p1" columns="3" border="1" style="width: 544px; ">
			
			<h:outputText id="o2" value="Id produs:"></h:outputText>
			<h:inputText id="stoc_id" value="#{formContract.stoc.id}" style="width: 171px; "></h:inputText>
			<h:message id="m1" for="stoc_id"></h:message>
			<h:outputText id="o3" value="Stoc:"></h:outputText>
			<h:inputText id="stoc_stoc" value="#{formContract.stoc.stoc}" style="width: 173px; "></h:inputText>
			<h:message id="m2" for="stoc_stoc"></h:message>
			<h:outputText id="o4" value="Obs:"></h:outputText>
			<h:inputText id="stoc_obs" value="#{formContract.stoc.obs}" style="width: 173px; "></h:inputText>
			<h:message id="m3" for="stoc_obs"></h:message>
			<h:outputText id="o5" value="Data Actualizare:"></h:outputText>
			<h:inputText id="stoc_dataActualizare"
				value="#{formContract.stoc.dataActualizare}" style="width: 173px; ">
				<p:convertDateTime pattern="yyyy-MM-dd"></p:convertDateTime>
			</h:inputText>
			<h:message id="m4" for="stoc_dataActualizare"></h:message>
			<h:panelGrid id="p2" columns="1" border="1">
			
				<h:commandButton id="b1" value="Adauga" action="#{formContract.adaugare}" style="width: 138px; "></h:commandButton>
				
			</h:panelGrid>
		</h:panelGrid>
	
	<h:dataTable var="stocuri" value="#{formContract.stocuri}" border="1">
		<h:column>
			<p:facet name="header">
				<h:outputText value="Id"></h:outputText>
			</p:facet>
			<h:outputText id="id" value="#{stocuri.id}"></h:outputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Stoc"></h:outputText>
			</p:facet>
			<h:outputText id="stoc" value="#{stocuri.stoc}"></h:outputText>
		</h:column>
		
		<h:column>
			<p:facet name="header">
				<h:outputText value="Data Actualizare"></h:outputText>
			</p:facet>
			<h:outputText id="dataActualizare" value="#{stocuri.dataActualizare}">
				<p:convertDateTime pattern="yyyy-MM-dd"></p:convertDateTime>
			</h:outputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Obs"></h:outputText>
			</p:facet>
			<h:outputText id="obs" value="#{stocuri.obs}"></h:outputText>
		</h:column>
		<h:column>
				<h:commandButton id="c2" action="#{formContract.delete(stocuri)}"
					label="Sterge" value="Sterge">
					<p:attribute name="selectedId" value="#{stocuri.id}"></p:attribute>
				</h:commandButton>
				<p:facet name="header">
				<h:outputText value="Sterge"></h:outputText>
			</p:facet>
			
		</h:column>
	</h:dataTable>
</h:form>
</body>
</html>
