<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core">
<body>
	<div
		style="width: 100%; font-size: 36px; line-height: 48px; background-color: navy; color: white">Formular
		Obiecte Contract</div>
	<h:form id="formObiecteForm">
		<h:panelGrid id="p1" columns="3" border="1">
			<p:facet name="header">
				<h:outputText id="o1" value="formObiecte"></h:outputText>
			</p:facet>
			<h:outputText id="o2" value="Navigare:"></h:outputText>
			
			<h:panelGrid id="p2" columns="2" border="1">
				<h:commandButton id="cmdPrev"
					actionListener="#{formObiecte.previous}" value="Prev" style="width: 89px; "></h:commandButton>
				<h:commandButton id="cmdNext" actionListener="#{formObiecte.next}"
					value="Next" style="width: 89px; "></h:commandButton>
			</h:panelGrid>
			<h:message id="m5"></h:message>
			<h:outputText id="o3" value="Id contract:"></h:outputText>
			<h:inputText id="obiect_contract_id" value="#{formObiecte.obiect.contract.id}"></h:inputText>
			<h:message id="m1" for="obiect_id"></h:message><h:outputText id="o2" value="Id obiect:"></h:outputText><h:inputText id="obiect_id" value="#{formObiecte.obiect.id}"></h:inputText>
			
			
			<h:message id="m2" for="obiect_contract_id"></h:message>
			<h:outputText id="o4" value="Cod produs:"></h:outputText>
			<h:inputText id="obiect_produs_cod"
				value="#{formObiecte.obiect.produs.cod}"></h:inputText>
			<h:message id="m3" for="obiect_produs_cod"></h:message>
			<h:outputText id="o5" value="Cantitate:"></h:outputText>
			<h:inputText id="obiect_cantitate"
				value="#{formObiecte.obiect.cantitate}"></h:inputText>
			<h:message id="m4" for="obiect_cantitate"></h:message>
			<h:panelGrid id="p3" columns="2" border="1">
				<h:commandButton id="cmdAdauga"
					actionListener="#{formObiecte.adaugare}" value="Adauga"
					style="width: 89px; "></h:commandButton>
				<h:commandButton id="cmdSterge"
					actionListener="#{formContracte.stergere}" value="Sterge"
					style="width: 89px; "></h:commandButton>
			</h:panelGrid>
			<h:panelGrid id="p4" columns="2" border="1">
				<h:commandButton id="cmdSalveaza"
					actionListener="#{formContracte.salvare}" value="Salvare"
					style="width: 89px; "></h:commandButton>
				<h:commandButton id="cmdAbandon"
					actionListener="#{formContracte.abandon}" value="Abandon"
					style="width: 89px; "></h:commandButton>
			</h:panelGrid>
			<h:message id="m6"></h:message>
		</h:panelGrid>
	</h:form>
</body>
</html>
