<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core">
<body>
	<div
		style='width: 642px; font-size: 24px; line-height: 48px; background-color: Lavender; color: Black; font-family: "Book Antiqua", "Times New Roman", Serif; text-align: center'>Formular Produse</div>
	<h:form id="formProduseForm">
		<h:panelGrid id="p1" columns="3" border="1" style="background-color: Lavender; width: 762px; ">
			<p:facet name="header">	
			</p:facet>

			<h:selectOneMenu id="cboProduse" value="#{formProduse.codProdus}" style="width: 227px; ">
			<p:selectItems id="s1" value="#{formProduse.produse}"
				var="item"
				itemValue="#{item.cod}" 
				itemLabel="#{item.denumire}"></p:selectItems>
			<p:ajax render="produs_cod produs_denumire produs_um produs_pretUnitar"></p:ajax>
			</h:selectOneMenu>
			<h:panelGrid id="p2" columns="2" border="1" style="width: 242px; ">
				<h:commandButton id="cmdPrev"
					actionListener="#{formProduse.previous}" value="Previous"
					style="width: 111px; font-size: 14px; ">
				</h:commandButton>
				<h:commandButton id="cmdNext" actionListener="#{formProduse.next}"
					value="Next" style="width: 103px; font-size: 14px; ">
				</h:commandButton>

			</h:panelGrid>
			<h:message id="m5"></h:message>
			<h:outputText id="txtCod" value="Cod produs"
				style="line-height: normal; font-size: 16px; font-weight: bold"></h:outputText>
			<h:inputText id="produs_cod" value="#{formProduse.produs.cod}"
				style="width: 232px; " 
				></h:inputText>
			<h:message id="m1" for="produs_cod"></h:message>
			<h:outputText id="txtDenumire" value="Denumire"
				style="line-height: normal; font-size: 16px; font-weight: bold"></h:outputText>
			<h:inputText id="produs_denumire"
				value="#{formProduse.produs.denumire}" style="width: 231px; "></h:inputText>
			<h:message id="m2" for="produs_denumire"></h:message>
			<h:outputText id="txtUM" value="Unitate de masura"
				style="line-height: normal; font-size: 16px; font-weight: bold"></h:outputText>
			<h:inputText id="produs_um" value="#{formProduse.produs.um}" style="width: 233px; "></h:inputText>
			<h:message id="m3" for="produs_um"></h:message>
			<h:outputText id="txtPU" value="Pret Unitar:"
				style="line-height: normal; font-size: 16px; font-weight: bold"></h:outputText>
			<h:inputText id="produs_pretUnitar"
				value="#{formProduse.produs.pretUnitar}" style="width: 235px; "></h:inputText>
			<h:message id="m4" for="produs_pretUnitar"></h:message>
			<h:panelGrid id="p3" columns="2" border="1">
				<h:commandButton id="cmdAdauga"
					actionListener="#{formProduse.adaugare}" value="Adauga"
					style="width: 112px;  font-size: 14px; ">
				</h:commandButton>

				<h:commandButton id="cmdSterge"
					actionListener="#{formProduse.stergere}" value="Sterge"
					style="width: 112px;  font-size: 14px; ">
				</h:commandButton>
			</h:panelGrid>
			<h:panelGrid id="p4" columns="2" border="1">

				<h:commandButton id="cmdAbandon"
					actionListener="#{formProduse.abandon}" value="Abandon"
					style="width: 107px; font-size: 14px; ">
				</h:commandButton>
				<h:commandButton id="cmdSalvare"
					actionListener="#{formProduse.salvare}" value="Salvare"
					style="width: 110px; font-size: 14px; ">
				</h:commandButton>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
	<h:outputLabel id="o1" value="Contracte de aprovizionare" style="line-height: normal; font-size: 16px; font-weight: bold; background-color: Lavender" ></h:outputLabel>
	<h:dataTable var="produseContract"
		value="#{formProduse.produs.obiecte}" border="1" style="background-color: Lavender; width: 654px;">
		<h:column>
			<p:facet name="header">
				<h:outputText value="Contract"></h:outputText>
			</p:facet>
			<h:inputText id="contract_id" value="#{produseContract.contract.id}" style="width: 52px; "></h:inputText>
		</h:column>
		
		<h:column>
			<p:facet name="header">
				<h:outputText value="Linie" style="line-height: normal; font-size: 16px; font-weight: bold"></h:outputText>
			</p:facet>
			
						<h:inputText id="id" value="#{produseContract.id}" style="width: 48px; "></h:inputText>

		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Furnizor"></h:outputText>
			</p:facet>
			<h:inputText id="contract_furnizor_id" value="#{produseContract.contract.furnizor.id}" style="width: 51px; "></h:inputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Produs"></h:outputText>
			</p:facet>
			<h:outputText id="produs_cod" value="#{produseContract.produs.cod}"></h:outputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Cantitate"></h:outputText>
			</p:facet>
			<h:inputText id="cantitate" value="#{produseContract.cantitate}" style="width: 65px; "> </h:inputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Val. Totala"></h:outputText>
			</p:facet>
			<h:inputText id="valoareObiect"
				value="#{produseContract.valoareObiect}" style="width: 68px; "></h:inputText>
		</h:column>
		<h:column>
			<p:facet name="header">
				<h:outputText value="Data"></h:outputText>
			</p:facet>
			<h:inputText id="contract_dataContract" value="#{produseContract.contract.dataContract}" style="width: 74px; ">
			<p:convertDateTime pattern="yyyy-MM-dd"></p:convertDateTime>
				</h:inputText>
		</h:column>
		
	</h:dataTable>
	


</body>
</html>
