<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core">
<body>
	<div
		style="width: 100%; font-size: 36px; line-height: 48px; background-color: navy; color: white">Formular Furnizori Interni</div>
	<h:form id="formFurnizoriForm">
		<h:panelGrid id="p1" columns="3" border="1">
			
			<h:outputText id="o9" value="Navigare:"></h:outputText>
			<h:panelGrid id="p2" columns="2" border="1" style="width: 242px; ">
			<h:commandButton id="cmdPrev"
			actionListener="#{formFurnizori.previous}" value="Previous" style="width: 112px; background-color: CadetBlue; font-size: 14px; font-weight: bold; ">
					</h:commandButton>
				<h:commandButton id="cmdNext" actionListener="#{formFurnizori.next}"
					value="Next"
					style="width: 111px; background-color: CadetBlue; font-size: 14px; font-weight: bold; ">
					</h:commandButton>

			</h:panelGrid>
			<h:message id="m5"></h:message>
			<h:outputText id="o2" value="Id:"></h:outputText>
			<h:inputText id="furnizorIntern_id"
				value="#{formFurnizori.furnizorIntern.id}" style="width: 201px; "></h:inputText>
			<h:message id="m1" for="furnizorIntern_id"></h:message>
			<h:outputText id="o3" value="Nume:"></h:outputText>
			<h:inputText id="furnizorIntern_nume"
				value="#{formFurnizori.furnizorIntern.nume}" style="width: 201px; "></h:inputText>
			<h:message id="m2" for="furnizorIntern_nume"></h:message>
			<h:outputText id="o4" value="Adresa:"></h:outputText>
			<h:inputText id="furnizorIntern_adresa"
				value="#{formFurnizori.furnizorIntern.adresa}" style="width: 199px; "></h:inputText>
			<h:message id="m3" for="furnizorIntern_adresa"></h:message>
			<h:outputText id="o5" value="Telefon:"></h:outputText>
			<h:inputText id="furnizorIntern_telefon"
				value="#{formFurnizori.furnizorIntern.telefon}" style="width: 200px; "></h:inputText>
			<h:message id="m4" for="furnizorIntern_telefon"></h:message>
			<h:outputText id="o6" value="Cod Fiscal:"></h:outputText>
			<h:inputText id="furnizorIntern_codFiscal"
				value="#{formFurnizori.furnizorIntern.codFiscal}"></h:inputText>
			<h:message id="m5" for="furnizorIntern_codFiscal"></h:message>
		</h:panelGrid>
	</h:form>
</body>
</html>
