<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://java.sun.com/jsf/core">
<body>
	<div
		style="width: 100%; font-size: 36px; line-height: 48px; background-color: navy; color: white">Formular Contracte Aprovizionare</div>
	<h:form id="formContractForm">
		<h:panelGrid id="p1" columns="3" border="1">
			
			<h:outputText id="o2" value="Navigare:"></h:outputText>
			<h:panelGrid id="p2" columns="2" border="1" style="width: 242px; ">
			<h:commandButton id="cmdPrev"
			actionListener="#{formContract1.previous}" value="Previous" style="width: 108px; background-color: CadetBlue; font-size: 14px; font-weight: bold; ">
					</h:commandButton>
				<h:commandButton id="cmdNext" actionListener="#{formContract.next}"
					value="Next"
					style="width: 105px; background-color: CadetBlue; font-size: 14px; font-weight: bold; ">
					</h:commandButton>

			</h:panelGrid>
			<h:message id="m5"></h:message>
			<h:outputText id="o2" value="Id contract:"></h:outputText>
			<h:inputText id="contract_id" value="#{formContract.contract.id}" style="width: 190px; "></h:inputText>
			<h:message id="m1" for="contract_id"></h:message>
			<h:outputText id="o3" value="Id furnizor:"></h:outputText>
			<h:inputText id="contract_furnizor_id"
				value="#{formContract.contract.furnizor.id}" style="width: 193px; "></h:inputText>
			<h:message id="m2" for="contract_furnizor_id"></h:message>
			<h:outputText id="o4" value="Data Contract:"></h:outputText>
			<h:inputText id="contract_dataContract"
				value="#{formContract.contract.dataContract}" style="width: 194px; ">
			<p:convertDateTime pattern="yyyy-MM-dd"></p:convertDateTime>
				
				</h:inputText>
			<h:message id="m3" for="contract_dataContract"></h:message>
			<h:outputText id="o5" value="Valoare Contract:"></h:outputText>
			<h:inputText id="contract_valoareContract"
				value="#{formContract.contract.valoareContract}" style="width: 194px; "></h:inputText>
			<h:message id="m4" for="contract_valoareContract"></h:message>
			<h:panelGrid id="p3" columns="2" border="1">
				<h:commandButton id="cmdAdauga"
					actionListener="#{formContract.adaugare}" value="Adauga"
					style="width: 119px; background-color: CadetBlue; font-size: 14px; font-weight: bold">
					</h:commandButton>
				
				<h:commandButton id="cmdSterge"
					actionListener="#{formContract.stergere}" value="Sterge"
					style="width: 116px; background-color: CadetBlue; font-size: 14px; font-weight: bold">
					</h:commandButton>
			</h:panelGrid>
			<h:panelGrid id="p4" columns="2" border="1">
				
				<h:commandButton id="cmdAbandon"
					actionListener="#{formContract.abandon}" value="Abandon"
					style="width: 123px; background-color: CadetBlue; font-size: 14px; font-weight: bold">
					</h:commandButton><h:commandButton id="cmdSalvare" actionListener="#{formContract.salvare}" value="Salvare" style="width: 123px; background-color: CadetBlue; font-size: 14px; font-weight: bold">
					</h:commandButton>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</body>
</html>
